<a href="https://colab.research.google.com/github/prathikshaghasari/traveltide-customer-reward-segmentation/blob/main/traveltide_data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Traveltide Data Preprocessing**

In [5]:
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine


# Use your URI (from Neon)
traveltide_db_url = 'postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide?sslmode=require'

# Create the SQLAlchemy engine
engine = create_engine(traveltide_db_url)
connection = engine.connect()

###**As per Elena's need -**
###**-- TravelTide_cohort_selection.sql**
###**-- This SQL query is designed to analyze user behavior and trip data from a travel booking platform**
###**-- The query focuses on users who have had more than 7 sessions since January 4, 2023.**

In [6]:
query = """

-- Step 1: Filter sessions that started after January 4, 2023
WITH sessions_2023 AS (
    SELECT *
    FROM sessions
    WHERE session_start > '2023-01-04'
),

-- Step 2: Keep users with more than 7 sessions
filtered_users AS (
    SELECT user_id
    FROM sessions_2023
    GROUP BY user_id
    HAVING COUNT(*) > 7
),

-- Step 3: Join session data with user, flight, and hotel details
session_base AS (
    SELECT
        s.session_id, s.user_id, s.trip_id, s.session_start, s.session_end,
        EXTRACT(EPOCH FROM s.session_end - s.session_start) AS session_duration,
        s.page_clicks, s.flight_discount, s.flight_discount_amount,
        s.hotel_discount, s.hotel_discount_amount, s.flight_booked,
        s.hotel_booked, s.cancellation,
        u.birthdate, u.gender, u.married, u.has_children,
        u.home_country, u.home_city, u.home_airport,
        u.home_airport_lat, u.home_airport_lon, u.sign_up_date,
        f.origin_airport, f.destination, f.destination_airport, f.seats,
        f.return_flight_booked, f.departure_time, f.return_time,
        f.checked_bags, f.trip_airline,
        f.destination_airport_lat, f.destination_airport_lon, f.base_fare_usd,
        h.hotel_name,
        CASE WHEN h.nights < 0 THEN 1 ELSE h.nights END AS nights,
        h.rooms, h.check_in_time, h.check_out_time,
        h.hotel_per_room_usd AS hotel_price_per_room_night_usd
    FROM sessions_2023 s
    LEFT JOIN users u ON s.user_id = u.user_id
    LEFT JOIN flights f ON s.trip_id = f.trip_id
    LEFT JOIN hotels h ON s.trip_id = h.trip_id
    WHERE s.user_id IN (SELECT user_id FROM filtered_users)
),

-- Step 4: Get canceled trips
canceled_trips AS (
    SELECT DISTINCT trip_id
    FROM session_base
    WHERE cancellation = TRUE
),

-- Step 5: Keep only valid, non-canceled trips
not_canceled_trips AS (
    SELECT *
    FROM session_base
    WHERE trip_id IS NOT NULL
      AND trip_id NOT IN (SELECT trip_id FROM canceled_trips)
),

-- Step 6: Aggregate user session behavior
user_base_session AS (
    SELECT
        user_id,
        SUM(page_clicks) AS total_page_clicks,
        COUNT(DISTINCT session_id) AS total_sessions,
        AVG(session_duration) AS avg_session_duration,
        AVG(checked_bags) AS avg_bags
    FROM session_base
    GROUP BY user_id
),

-- Step 7: Aggregate user trip-level behavior
user_base_trip AS (
    SELECT
        user_id,
        COUNT(DISTINCT trip_id) AS num_trips,
        SUM(CASE
                WHEN (flight_booked = TRUE) AND (return_flight_booked = TRUE) THEN 2
                WHEN flight_booked = TRUE THEN 1
                ELSE 0
            END) AS departure_flights,
        COALESCE(SUM((hotel_price_per_room_night_usd * nights * rooms) *
                (1 - COALESCE(hotel_discount_amount, 0))), 0) AS total_hotel_cost,
        AVG((hotel_price_per_room_night_usd * nights * rooms) *
            (1 - COALESCE(hotel_discount_amount, 0))) AS avg_hotel_cost,
        MIN(departure_time) AS first_trip_date,
        MAX(departure_time) AS last_trip_date,
        AVG(EXTRACT(DAY FROM departure_time - session_end)) AS time_after_booking,
        AVG(haversine_distance(home_airport_lat, home_airport_lon,
                                destination_airport_lat, destination_airport_lon)) AS avg_km_flown,
        AVG(rooms) AS avg_rooms
    FROM not_canceled_trips
    GROUP BY user_id
),

-- Step 8: Merge session + trip metrics and add demographics
user_metrics AS (
    SELECT
        b.user_id,
        COALESCE(b.total_page_clicks, 0) AS total_page_clicks,
        COALESCE(b.total_sessions, 0) AS total_sessions,
        COALESCE(b.avg_session_duration, 0) AS avg_session_duration,
        COALESCE(b.avg_bags, 0) AS avg_bags,
        EXTRACT(YEAR FROM AGE(u.birthdate)) AS age,
        CASE
            WHEN EXTRACT(YEAR FROM AGE(u.birthdate)) < 20 THEN 'Teen'
            WHEN EXTRACT(YEAR FROM AGE(u.birthdate)) BETWEEN 20 AND 30 THEN 'Young Adult'
            WHEN EXTRACT(YEAR FROM AGE(u.birthdate)) BETWEEN 31 AND 45 THEN 'Adult'
            WHEN EXTRACT(YEAR FROM AGE(u.birthdate)) BETWEEN 46 AND 60 THEN 'Middle-aged'
            ELSE 'Senior'
        END AS age_group,
        u.gender, u.married, u.has_children,
        u.home_country, u.home_city, u.home_airport,
        COALESCE(t.num_trips, 0) AS num_trips,
        COALESCE(t.departure_flights, 0) AS departure_flights,
        COALESCE(t.total_hotel_cost, 0) AS total_hotel_cost,
        COALESCE(t.avg_hotel_cost, 0) AS avg_hotel_cost,
        COALESCE(t.first_trip_date, NULL) AS first_trip_date,
        COALESCE(t.last_trip_date, NULL) AS last_trip_date,
        COALESCE(t.time_after_booking, 0) AS time_after_booking,
        COALESCE(t.avg_km_flown, 0) AS avg_km_flown,
        COALESCE(t.avg_rooms, 1) AS avg_rooms
    FROM user_base_session b
    LEFT JOIN users u ON b.user_id = u.user_id
    LEFT JOIN user_base_trip t ON b.user_id = t.user_id
),

-- Step 9: Add trip_type based on behavior
user_with_trip_type AS (
    SELECT *,
        CASE
            WHEN num_trips = 0 THEN 'No trips'
            WHEN has_children THEN 'Parent trip'
            WHEN num_trips > 6 AND avg_km_flown > 1000 THEN 'Business trip'
            WHEN avg_rooms > 1 THEN 'Solo or group trip'
            WHEN NOT has_children AND avg_rooms = 1 THEN 'Couple trip'
            ELSE 'Uncategorized'
        END AS trip_type
    FROM user_metrics
),

-- Step 10: Assign top prioritized perk to each user
user_perks_with_priority AS (
    SELECT user_id, '30% off first travel' AS perk, 1 AS priority FROM user_with_trip_type WHERE num_trips = 0
    UNION ALL
    SELECT user_id, 'free child ticket', 2 FROM user_with_trip_type WHERE has_children AND avg_bags > 2
    UNION ALL
    SELECT user_id, 'family discount', 3 FROM user_with_trip_type WHERE has_children AND avg_rooms > 1
    UNION ALL
    SELECT user_id, 'priority boarding', 4 FROM user_with_trip_type WHERE trip_type = 'Business trip' AND departure_flights > 10
    UNION ALL
    SELECT user_id, 'free meal', 5 FROM user_with_trip_type WHERE trip_type = 'Business trip'
    UNION ALL
    SELECT user_id, 'romantic getaway voucher', 6 FROM user_with_trip_type WHERE trip_type = 'Couple trip' AND married
    UNION ALL
    SELECT user_id, '10% off group travel', 7 FROM user_with_trip_type WHERE trip_type = 'Solo or group trip'
    UNION ALL
    SELECT user_id, 'luxury package upgrade', 8 FROM user_with_trip_type WHERE avg_hotel_cost > 1000 OR total_hotel_cost > 5000
    UNION ALL
    SELECT user_id, 'loyalty tier upgrade', 9 FROM user_with_trip_type WHERE total_sessions > 30 AND num_trips > 5
    UNION ALL
    SELECT user_id, 'early bird discount', 10 FROM user_with_trip_type WHERE time_after_booking > 30
    UNION ALL
    SELECT user_id, 'last-minute saver deal', 11 FROM user_with_trip_type WHERE time_after_booking <= 3
    UNION ALL
    SELECT user_id, 'senior travel benefits', 12 FROM user_with_trip_type WHERE age > 60
    UNION ALL
    SELECT user_id, 'youth explorer pass', 13 FROM user_with_trip_type WHERE age < 26
    UNION ALL
    SELECT user_id, 'solo traveler bonus', 14 FROM user_with_trip_type WHERE NOT married AND avg_rooms = 1
    UNION ALL
    SELECT user_id, 'general travel credit', 99 FROM user_with_trip_type
),

ranked_perks AS (
    SELECT *, ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY priority ASC) AS perk_rank
    FROM user_perks_with_priority
),

-- Step 11: Final top perk per user
final_output AS (
    SELECT u.*, p.perk
    FROM user_with_trip_type u
    LEFT JOIN (
        SELECT user_id, perk FROM ranked_perks WHERE perk_rank = 1
    ) p ON u.user_id = p.user_id
)

-- Step 12: Output selected fields
SELECT
    user_id,
    gender,
    age,
    age_group,
    married,
    has_children,
    home_country,
    home_city,
    home_airport,
    total_sessions,
    total_page_clicks,
    num_trips,
    departure_flights,
    trip_type,
    COALESCE(first_trip_date, DATE '2023-01-04') AS first_trip_date,
    COALESCE(last_trip_date, DATE '2023-01-04') AS last_trip_date,
    COALESCE(avg_hotel_cost, 0) AS avg_hotel_cost,
    COALESCE(total_hotel_cost, 0) AS total_hotel_cost,
    COALESCE(perk, 'general travel credit') AS perk
FROM final_output
ORDER BY user_id;

"""
pd.read_sql(sa.text(query),connection)

,user_id,gender,age,age_group,married,has_children,home_country,home_city,home_airport,total_sessions,total_page_clicks,num_trips,departure_flights,trip_type,first_trip_date,last_trip_date,avg_hotel_cost,total_hotel_cost,perk
0,23557,F,66.0,Senior,True,False,usa,new york,LGA,8,82,2,0,Solo or group trip,2023-01-04 00:00:00,2023-01-04 00:00:00,1835.250000,3670.5,10% off group travel
1,94883,F,53.0,Middle-aged,True,False,usa,kansas city,MCI,8,73,2,4,Solo or group trip,2023-03-27 07:00:00,2023-04-16 10:00:00,65.000000,130.0,10% off group travel
2,101486,F,52.0,Middle-aged,True,True,usa,tacoma,TCM,8,131,2,2,Parent trip,2023-06-10 10:00:00,2023-06-10 10:00:00,1099.500000,2199.0,family discount
3,101961,F,44.0,Adult,True,False,usa,boston,BOS,8,126,5,10,Couple trip,2023-02-08 07:00:00,2023-06-27 11:00:00,485.800000,2429.0,romantic getaway voucher
4,106907,F,46.0,Middle-aged,True,True,usa,miami,TNT,8,240,0,0,No trips,2023-01-04 00:00:00,2023-01-04 00:00:00,0.000000,0.0,30% off first travel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5993,792549,F,47.0,Middle-aged,False,False,usa,kansas city,MCI,8,114,4,8,Couple trip,2023-05-03 09:00:00,2023-07-26 07:00:00,144.000000,144.0,solo traveler bonus
5994,796032,F,52.0,Middle-aged,True,False,canada,winnipeg,YAV,8,148,2,4,Couple trip,2023-05-09 12:00:00,2023-06-02 16:00:00,630.500000,1261.0,romantic getaway voucher
5995,801660,F,55.0,Middle-aged,True,True,canada,toronto,YKZ,8,115,3,6,Parent trip,2023-05-11 08:00:00,2023-07-23 08:00:00,290.666667,872.0,general travel credit
5996,811077,F,46.0,Middle-aged,True,True,usa,knoxville,TYS,8,105,1,2,Parent trip,2023-07-20 10:00:00,2023-07-20 10:00:00,852.000000,852.0,general travel credit
5997,844489,M,25.0,Young Adult,False,True,usa,el paso,BIF,8,99,0,0,No trips,2023-01-04 00:00:00,2023-01-04 00:00:00,0.000000,0.0,30% off first travel

### **Count of users with the perks assigned - Rule segmentation**

In [7]:
query = """

-- Step 1: Filter sessions that started after January 4, 2023
WITH sessions_2023 AS (
    SELECT *
    FROM sessions
    WHERE session_start > '2023-01-04'
),

-- Step 2: Keep users with more than 7 sessions
filtered_users AS (
    SELECT user_id
    FROM sessions_2023
    GROUP BY user_id
    HAVING COUNT(*) > 7
),

-- Step 3: Join session data with user, flight, and hotel details
session_base AS (
    SELECT
        s.session_id, s.user_id, s.trip_id, s.session_start, s.session_end,
        EXTRACT(EPOCH FROM s.session_end - s.session_start) AS session_duration,
        s.page_clicks, s.flight_discount, s.flight_discount_amount,
        s.hotel_discount, s.hotel_discount_amount, s.flight_booked,
        s.hotel_booked, s.cancellation,
        u.birthdate, u.gender, u.married, u.has_children,
        u.home_country, u.home_city, u.home_airport,
        u.home_airport_lat, u.home_airport_lon, u.sign_up_date,
        f.origin_airport, f.destination, f.destination_airport, f.seats,
        f.return_flight_booked, f.departure_time, f.return_time,
        f.checked_bags, f.trip_airline,
        f.destination_airport_lat, f.destination_airport_lon, f.base_fare_usd,
        h.hotel_name,
        CASE WHEN h.nights < 0 THEN 1 ELSE h.nights END AS nights,
        h.rooms, h.check_in_time, h.check_out_time,
        h.hotel_per_room_usd AS hotel_price_per_room_night_usd
    FROM sessions_2023 s
    LEFT JOIN users u ON s.user_id = u.user_id
    LEFT JOIN flights f ON s.trip_id = f.trip_id
    LEFT JOIN hotels h ON s.trip_id = h.trip_id
    WHERE s.user_id IN (SELECT user_id FROM filtered_users)
),

-- Step 4: Get canceled trips
canceled_trips AS (
    SELECT DISTINCT trip_id
    FROM session_base
    WHERE cancellation = TRUE
),

-- Step 5: Keep only valid, non-canceled trips
not_canceled_trips AS (
    SELECT *
    FROM session_base
    WHERE trip_id IS NOT NULL
      AND trip_id NOT IN (SELECT trip_id FROM canceled_trips)
),

-- Step 6: Aggregate user session behavior
user_base_session AS (
    SELECT
        user_id,
        SUM(page_clicks) AS total_page_clicks,
        COUNT(DISTINCT session_id) AS total_sessions,
        AVG(session_duration) AS avg_session_duration,
        AVG(checked_bags) AS avg_bags
    FROM session_base
    GROUP BY user_id
),

-- Step 7: Aggregate user trip-level behavior
user_base_trip AS (
    SELECT
        user_id,
        COUNT(DISTINCT trip_id) AS num_trips,
        SUM(CASE
                WHEN (flight_booked = TRUE) AND (return_flight_booked = TRUE) THEN 2
                WHEN flight_booked = TRUE THEN 1
                ELSE 0
            END) AS departure_flights,
        COALESCE(SUM((hotel_price_per_room_night_usd * nights * rooms) *
                (1 - COALESCE(hotel_discount_amount, 0))), 0) AS total_hotel_cost,
        AVG((hotel_price_per_room_night_usd * nights * rooms) *
            (1 - COALESCE(hotel_discount_amount, 0))) AS avg_hotel_cost,
        MIN(departure_time) AS first_trip_date,
        MAX(departure_time) AS last_trip_date,
        AVG(EXTRACT(DAY FROM departure_time - session_end)) AS time_after_booking,
        AVG(haversine_distance(home_airport_lat, home_airport_lon,
                                destination_airport_lat, destination_airport_lon)) AS avg_km_flown,
        AVG(rooms) AS avg_rooms
    FROM not_canceled_trips
    GROUP BY user_id
),

-- Step 8: Merge session + trip metrics and add demographics
user_metrics AS (
    SELECT
        b.user_id,
        COALESCE(b.total_page_clicks, 0) AS total_page_clicks,
        COALESCE(b.total_sessions, 0) AS total_sessions,
        COALESCE(b.avg_session_duration, 0) AS avg_session_duration,
        COALESCE(b.avg_bags, 0) AS avg_bags,
        EXTRACT(YEAR FROM AGE(u.birthdate)) AS age,
        CASE
            WHEN EXTRACT(YEAR FROM AGE(u.birthdate)) < 20 THEN 'Teen'
            WHEN EXTRACT(YEAR FROM AGE(u.birthdate)) BETWEEN 20 AND 30 THEN 'Young Adult'
            WHEN EXTRACT(YEAR FROM AGE(u.birthdate)) BETWEEN 31 AND 45 THEN 'Adult'
            WHEN EXTRACT(YEAR FROM AGE(u.birthdate)) BETWEEN 46 AND 60 THEN 'Middle-aged'
            ELSE 'Senior'
        END AS age_group,
        u.gender, u.married, u.has_children,
        u.home_country, u.home_city, u.home_airport,
        COALESCE(t.num_trips, 0) AS num_trips,
        COALESCE(t.departure_flights, 0) AS departure_flights,
        COALESCE(t.total_hotel_cost, 0) AS total_hotel_cost,
        COALESCE(t.avg_hotel_cost, 0) AS avg_hotel_cost,
        COALESCE(t.first_trip_date, NULL) AS first_trip_date,
        COALESCE(t.last_trip_date, NULL) AS last_trip_date,
        COALESCE(t.time_after_booking, 0) AS time_after_booking,
        COALESCE(t.avg_km_flown, 0) AS avg_km_flown,
        COALESCE(t.avg_rooms, 1) AS avg_rooms
    FROM user_base_session b
    LEFT JOIN users u ON b.user_id = u.user_id
    LEFT JOIN user_base_trip t ON b.user_id = t.user_id
),

-- Step 9: Add trip_type based on behavior
user_with_trip_type AS (
    SELECT *,
        CASE
            WHEN num_trips = 0 THEN 'No trips'
            WHEN has_children THEN 'Parent trip'
            WHEN num_trips > 6 AND avg_km_flown > 1000 THEN 'Business trip'
            WHEN avg_rooms > 1 THEN 'Solo or group trip'
            WHEN NOT has_children AND avg_rooms = 1 THEN 'Couple trip'
            ELSE 'Uncategorized'
        END AS trip_type
    FROM user_metrics
),

-- Step 10: Assign top prioritized perk to each user
user_perks_with_priority AS (
    SELECT user_id, '30% off first travel' AS perk, 1 AS priority FROM user_with_trip_type WHERE num_trips = 0
    UNION ALL
    SELECT user_id, 'free child ticket', 2 FROM user_with_trip_type WHERE has_children AND avg_bags > 2
    UNION ALL
    SELECT user_id, 'family discount', 3 FROM user_with_trip_type WHERE has_children AND avg_rooms > 1
    UNION ALL
    SELECT user_id, 'priority boarding', 4 FROM user_with_trip_type WHERE trip_type = 'Business trip' AND departure_flights > 10
    UNION ALL
    SELECT user_id, 'free meal', 5 FROM user_with_trip_type WHERE trip_type = 'Business trip'
    UNION ALL
    SELECT user_id, 'romantic getaway voucher', 6 FROM user_with_trip_type WHERE trip_type = 'Couple trip' AND married
    UNION ALL
    SELECT user_id, '10% off group travel', 7 FROM user_with_trip_type WHERE trip_type = 'Solo or group trip'
    UNION ALL
    SELECT user_id, 'luxury package upgrade', 8 FROM user_with_trip_type WHERE avg_hotel_cost > 1000 OR total_hotel_cost > 5000
    UNION ALL
    SELECT user_id, 'loyalty tier upgrade', 9 FROM user_with_trip_type WHERE total_sessions > 30 AND num_trips > 5
    UNION ALL
    SELECT user_id, 'early bird discount', 10 FROM user_with_trip_type WHERE time_after_booking > 30
    UNION ALL
    SELECT user_id, 'last-minute saver deal', 11 FROM user_with_trip_type WHERE time_after_booking <= 3
    UNION ALL
    SELECT user_id, 'senior travel benefits', 12 FROM user_with_trip_type WHERE age > 60
    UNION ALL
    SELECT user_id, 'youth explorer pass', 13 FROM user_with_trip_type WHERE age < 26
    UNION ALL
    SELECT user_id, 'solo traveler bonus', 14 FROM user_with_trip_type WHERE NOT married AND avg_rooms = 1
    UNION ALL
    SELECT user_id, 'general travel credit', 99 FROM user_with_trip_type
),

ranked_perks AS (
    SELECT *, ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY priority ASC) AS perk_rank
    FROM user_perks_with_priority
),

-- Step 11: Final top perk per user
final_output AS (
    SELECT u.*, p.perk
    FROM user_with_trip_type u
    LEFT JOIN (
        SELECT user_id, perk FROM ranked_perks WHERE perk_rank = 1
    ) p ON u.user_id = p.user_id
),

-- Step 12: Output selected fields
user_output AS (
    SELECT
        user_id,
        gender,
        age,
        age_group,
        married,
        has_children,
        home_country,
        home_city,
        home_airport,
        total_sessions,
        total_page_clicks,
        num_trips,
        departure_flights,
        trip_type,
        COALESCE(first_trip_date, DATE '2023-01-04') AS first_trip_date,
        COALESCE(last_trip_date, DATE '2023-01-04') AS last_trip_date,
        COALESCE(avg_hotel_cost, 0) AS avg_hotel_cost,
        COALESCE(total_hotel_cost, 0) AS total_hotel_cost,
        COALESCE(perk, 'general travel credit') AS perk
    FROM final_output
),

-- Step 13: Count of users per perk
perk_counts AS (
    SELECT
        perk,
        COUNT(DISTINCT user_id) AS user_count
    FROM user_output
    GROUP BY perk
)

-- Final Output
SELECT * FROM perk_counts ORDER BY user_count DESC;

"""
pd.read_sql(sa.text(query),connection)

                        perk  user_count
0        solo traveler bonus        1380
1       10% off group travel        1246
2   romantic getaway voucher         941
3            family discount         568
4       30% off first travel         556
5      general travel credit         497
6     luxury package upgrade         415
7     last-minute saver deal         116
8        youth explorer pass         112
9        early bird discount          76
10    senior travel benefits          38
11         free child ticket          27
12         priority boarding          24
13                 free meal           2